<main class="row">  
    <section class="col s12 m9">
      <h1 class="center">Nuestro Foros,eventos y más..</h1>
      <article>
        <h2 class="center">Información sobre nuestras actvidades, eventos, foros y más que se realizarán por oikos.</h2>
        <div class="row">
          <div class="col s12 m12">
      
            <div class="card hoverable">
              <span class="card-title mlf-1 oikos-text">Stand Up Comedy con Onay Col</span>
              <div class="card-content">
                <p>En el contexto de su gira universitaria el comediante Onay se presentará el <b>21 de Febrero</b> en nuestra escuela para brindar unas mañana de entretenimiento a los etudiantes.</p>
              </div>
            </div>
      
      
            <div class="card hoverable">
      
              <span class="card-title mlf-1 oikos-text">Foro:Colaición anticorrupción</span>
              <div class="card-content">
                <p>La ONG transparencia Venezuela presentará este proyecto a la comunidad ucvista para conocer que tan importante es este proyecto en este contexto económico.</p>
                <p><b>Fecha:</b> prevista 11 de febrero.</p>
              </div>      
      
            </div>
      
      
          </div>
        </div>
    
      </article>
    </section>
    
    <aside class="col s12 m3 grey lighten-3 z-depth-3">
      <h3 class="center">Resoluciones del Consejo de Escuela</h3>
      <div class="row">
        <div class="col s12 m12">
    
          <div class="card hoverable">
            <span class="card-title mlf-1 oikos-text">Resoluciones del Consejo de Escuela 1<a href="#!" data-position="left" data-tooltip="Más información" class="tooltipped right btn-floating waves-effect waves-light grey"><i class="fas fa-external-link-alt"></i></a></span>
            <div class="card-content">
              <p>pequeña descripcion de la activadad en cuando le den click al boton rojo tendra mayor información, cada activdadd si es muy larga tendra su propio link...</p>
            </div>
          </div>
    
    
          <div class="card hoverable">
    
            <span class="card-title mlf-1 oikos-text">Resoluciones del Consejo de Escuela 2<a href="#!" data-position="left" data-tooltip="Más información" class="tooltipped right btn-floating waves-effect waves-light grey"><i class="fas fa-external-link-alt"></i></a></span>
            <div class="card-content">
              <p>pequeña descripcion de la activadad en cuando le den click al boton rojo tendra mayor información, cada activdadd si es muy larga tendra su propio link...</p>
            </div>      
    
          </div>
    
          <div class="card hoverable">
    
            <span class="card-title mlf-1 oikos-text">Resoluciones del Consejo de Escuela 3<a href="#!" data-position="left" data-tooltip="Más información" class="tooltipped right btn-floating waves-effect waves-light grey"><i class="fas fa-external-link-alt"></i></a></span>
            <div class="card-content">
              <p>pequeña descripcion de la activadad en cuando le den click al boton rojo tendra mayor información, cada activdadd si es muy larga tendra su propio link...</p>
            </div>
            
          </div>
    
    
        </div>
      </div>
    </aside>
    
    
</main>
