<main class="row">  
    <section class="col s12 m9">
      <h1 class="center">Documentos  de la Escuela de Economía UCV</h1>
      <article>
        <h2 class="center">Estudiante tenemos para tí los documentos necesarios que te serviran durante toda la carrera.</h2>
    
    
      </article>
    </section>
    
    <aside class="col s12 m3  grey lighten-3 z-depth-3">
      <h3 class="center">Proximas Actividades</h3>
      <div class="row">
        <div class="col s12 m12">
    
          <div class="card hoverable">
            <span class="card-title mlf-1 oikos-text">Stand Up Comedy con Onay Col</span>
            <div class="card-content">
              <p>En el contexto de su gira universitaria el comediante Onay se presentará el <b>21 de Febrero</b> en nuestra escuela para brindar unas mañana de entretenimiento a los etudiantes.</p>
            </div>
          </div>
    
    
          <div class="card hoverable">
    
            <span class="card-title mlf-1 oikos-text">Foro:Colaición anticorrupción</span>
            <div class="card-content">
              <p>La ONG transparencia Venezuela presentará este proyecto a la comunidad ucvista para conocer que tan importante es este proyecto en este contexto económico.</p>
              <p><b>Fecha:</b> prevista 11 de febrero.</p>
            </div>      
    
          </div>
    
    
        </div>
      </div>
    </aside>
</main>
