<main class="row">  
    <section class="col s12 m9">
      <h1 class="center">Contactar Oikos UCV</h1>
      <article class="container">
        <h2 class="center">Si tienes alguna duda sobre el consejo de escuela, control de estudios, inscripciones regulares, nuevo ingresos, entre otros... puedes llenar este formulario y te atenderemos con gusto.</h2>
        <div class="divider"></div>
        <div class="row grey lighten-5">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="fas fa-user-graduate prefix"></i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Nombre</label>
              </div>
              <div class="input-field col s12">
                <i class="fas fa-phone-square-alt prefix"></i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Número de Teléfono</label>
              </div>
              <div class="input-field col s12">
                <i class="far fa-envelope prefix"></i>
                <input id="icon-mail" type="text" class="validate">
                <label for="icon-mail">Correo Electronico</label>
              </div>       
              <div class="input-field col s12">
                <i class="far fa-comment-dots prefix"></i>
                <input id="icon_motivo" type="text" class="validate">
                <label for="icon_motivo">Motivo</label>
              </div>   
                <div class="input-field col s12">
                  <textarea id="textarea2" class="materialize-textarea" data-length="180"></textarea>
                  <label for="textarea2">Descripción</label>
                </div>                 
            </div>
            <div class="center">
                  <button class="btn black waves-effect waves-orange" type="submit" name="action">Enviar
                  <i class="far fa-paper-plane right"></i>
                </button>        
            </div>

          </form>
        </div>

      </article>
    </section>

    <aside class="col s12 m3  grey lighten-3 z-depth-3">
      <h3 class="center">Proximas Actividades</h3>
      <div class="row">
        <div class="col s12 m12">

          <div class="card hoverable">
            <span class="card-title mlf-1 oikos-text">Stand Up Comedy con Onay Col</span>
            <div class="card-content">
              <p>En el contexto de su gira universitaria el comediante Onay se presentará el <b>21 de Febrero</b> en nuestra escuela para brindar unas mañana de entretenimiento a los etudiantes.</p>
            </div>
          </div>


          <div class="card hoverable">

            <span class="card-title mlf-1 oikos-text">Foro:Colaición anticorrupción</span>
            <div class="card-content">
              <p>La ONG transparencia Venezuela presentará este proyecto a la comunidad ucvista para conocer que tan importante es este proyecto en este contexto económico.</p>
              <p><b>Fecha:</b> prevista 11 de febrero.</p>
            </div>      

          </div>


        </div>
      </div>
    </aside>

</main>

